// x86-specific configuration overrides
// This file contains only the differences from niri-base.kdl

input {
    keyboard {
        xkb {
            layout "us"
            variant "altgr-intl"
        }
        numlock
    }

    touchpad {
        dwt
        tap
        natural-scroll
    }

    mouse {
        natural-scroll
        left-handed
    }
    warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="40%"
}

cursor {
    hide-after-inactive-ms 650
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
}

// Macbook Intel Monitor configuration
output "eDP-1" {
    mode "2560x1600"
    scale 1.6
    position x=0 y=0
}
