@import "./theme.css";
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
  /* background-color: transparent; */
}


#workspaces {
  margin-left: 7px;
  margin-right: 7px;
}

#workspaces button {
  padding: 0 7px 0 3px;
  margin-right: 3px;
  margin-left: 3px;
}

#custom-dropbox,
#cpu,
#power-profiles-daemon,
#battery,
#network,
#bluetooth,
#wireplumber,
#tray,
#clock {
  background-color: transparent;
  min-width: 12px;
  margin-right: 13px;
}

tooltip {
  padding: 2px;
}

tooltip label {
  padding: 2px;
}
