@import "./theme.css";
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
  /* background-color: transparent; */
}


#workspaces {
  margin-left: 7px;
  margin-right: 7px;
}

#workspaces button {
  padding: 0 7 0 3;
  margin-right: 3px;
  margin-left: 3px;
}

#custom-dropbox,
#cpu,
#memory,
#power-profiles-daemon,
#battery,
#network,
#bluetooth,
#wireplumber,
#tray,
#clock {
  background-color: transparent;
  min-width: 12px;
  padding: 0 6;
}

#cpu:hover,
#network:hover,
#bluetooth:hover,
#wireplumber:hover,
#memory:hover {
  background-color: @hoverBg;
}

tooltip {
  padding: 2px;
}

tooltip label {
  padding: 2px;
}
